extends ../common/base.pug


block head_seo
    title Виджеты. Добавление

block content
    .container
        h1 
            | Добавление виджета
            .pull-right
                a.btn.btn-default(href="/widgets") Список
        .row(style="margin-top: 30px;")
            .col-md-12
                form.form-horizontal(action="/widgets/add" method="post")
                    .form-group
                        label.col-sm-2.control-label(for="widget-city") Город:
                        .col-sm-10
                            select.form-control(id="widget-city" name="city" required)
                                each en, ru in cities
                                    option(value=en)= ru
                    .form-group
                        label.col-sm-2.control-label(for="widget-days") На сколько дней:
                        .col-sm-10
                            select.form-control(id="widget-days" name="days" required)
                                each cnt in days
                                    option(value=cnt)= cnt
                    .form-group
                        label.col-sm-2.control-label(for="widget-vertical") Вертикальный:
                        .col-sm-10
                            input(type="checkbox" id="widget-vertical" name="vertical" value="1")
                    .form-group
                        .col-sm-offset-2.col-sm-10
                            button.btn.btn-lg.btn-primary(type="submit")= mode
