div.open-weather-widget(style="font-size:14px;font-family:sans-serif;")
    div.label(style=labelStyle) Погода для города:
    div.city(style=cityStyle)= city
    div.temp(style=tempStyle) #[span.temp= temp] °C
