.form-signin {
    max-width: 500px;
    margin: 0 auto;
}
.form-signin .bg-danger {
    padding: 10px 20px;
    margin-bottom: 20px;
}
.navbar .auth {
    margin-left: 30px;
}
.btn span.glyphicon.with-text {
    margin-right: 5px;
}
