extends common/base.pug


block head_seo
    title Виджеты

block content
    .container
        .form-signin
            if !user
                h1.text-center Главная
                if error
                    p.alert.alert-danger= error
                form.form-horizontal(action="/login" method="post")
                    .form-group
                        label.col-sm-2.control-label(for="auth-username") Username:
                        .col-sm-10
                            input.form-control(id="auth-username" type="text" name="username" required autofocus)
                    .form-group
                        label.col-sm-2.control-label(for="auth-password") Password:
                        .col-sm-10
                            input.form-control(id="auth-password" type="password" name="password" required)
                    .form-group
                        .col-sm-offset-2.col-sm-10
                            button.btn.btn-lg.btn-primary.btn-block(type="submit") Войти
