extends common/base.pug


block head_seo
    title Главная

block content
    h1 Главная
    if username
        p
            span= username
            span [ #[a(href="/logout") Выход] ]
    if error
        p= error
    if !username
        form(action="/login" method="post")
            div
                label Username:
                input(type="text" name="username")
            div
                label Password:
                input(type="password" name="password")
            div
                input(type="submit" value="Log In")
