.navbar.navbar-default
    .container-fluid
        .navbar-header.pull-right
            p.navbar-text
                if user
                    | Вы зашли как: 
                    strong= user.username
                    a.btn.btn-default.auth(href="/logout")
                        span.glyphicon.glyphicon-log-out.with-text
                        | Выход
                else
                    span Вы не авторизовались
                    a.btn.btn-default.auth(href="/")
                        span.glyphicon.glyphicon-log-in.with-text
                        | Войти
